{% extends "basic_app/base.html" %}
{% block body_block %}

	<div class="jumbotron">
		<h1>AboutUs Page</h1>
	</div>
	<!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">About
        <small>Flask</small>
      </h1>
      <!-- Intro Content -->
      <div class="row">
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="https://www.vectorlogo.zone/logos/pocoo_flask/pocoo_flask-card.png" alt="">
        </div>
        <div class="col-lg-6">
          <h2>Flask</h2>
          <p>Flask is a micro web framework written in Python and based on the Werkzeug toolkit and Jinja2 template engine. It is BSD licensed. The latest stable version of Flask is 0.12.2 as of May 2017.</p>
        </div>
      </div>
{% endblock %}