{% extends "basic_app/base.html" %}
{% block body_block %}

	<div class="jumbotron">
		<h1>ContactUs Page</h1>
	</div>
	<!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Contact</h1>

     
      <!-- Content Row -->
      <div class="row">
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="https://akm-img-a-in.tosshub.com/indiatoday/akshay-story_647_010618123949.jpg?SeXlLFRGJeRhX_KSc3MESSR4jF8vgIEi" alt="">
        </div>
       
        <!-- Contact Details Column -->
        <div class="col-lg-4 mb-4">
          <h3>Contact Details</h3>
          <p>Santanu Kumar
            <br>Bangalore,Karnataka
            <br>
          </p>
          <p>
            <abbr title="Phone">Phone</abbr>: 8217416032
          </p>
          <p>
            <abbr title="Email">Email</abbr>:santanu9809@gmail.com
          </p>
        </div>
      </div>
{% endblock %}