{% extends "basic_app/base.html" %}
{% block body_block %}
	<div class="jumbotron">
		<h1>Please Login Here</h1>
		<form action="{% url 'basic_app:user_login' %}" method="POST">
			{% csrf_token %}
			<label for="username">Username:</label>
			<input type="text" name="username" placeholder="Enter Username">
			<label for="password">Password:</label>
			<input type="password" name="password">

			<input type="submit" name="" value="Login">
		</form>
	</div>
	<!-- Features Section -->
      <div class="row">
        <div class="col-lg-6">
          <h2>Django</h2>
          Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It's free and open source.

        </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded" src="https://www.djangoproject.com/s/img/logos/django-logo-negative.png" alt="">
        </div>
      </div>
      <!-- /.row -->
{% endblock %}