{% extends "basic_app/base.html" %}
{% load staticfiles %}
{% block body_block %}
	<div class="jumbotron">
		{% if registered %}
			<h1>Thanks for Registring!</h1>
		{% else %}
			<h1>Register Here</h1>
			<form enctype="multipart/form-data" method="POST">
				{% csrf_token %}
				{{ user_form.as_p }}
				<input type="submit" name="" value="Register">
			</form>
			
		{% endif %}
	</div>
	<!-- Features Section -->
      <div class="row">
        <div class="col-lg-6">
          <h2>Python Features</h2>
          <p>Python provides lots of features that are listed below:</p>
          <ul>
            <li>
              <strong>Easy to Learn and Use</strong>
            </li>
            <li>Expressive Language</li>
            <li>Interpreted Language</li>
            <li>Cross-platform Language</li>
            <li>Free and Open Source</li>
            <li>Object-Oriented Language & Extensible</li>
            <li>Large Standard Library</li>
            <li>GUI Programming Support & Integrated</li>
          </ul>
          <p>Python makes the development and debugging fast because there is no compilation step included in python development and edit-test-debug cycle is very fast.</p>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded" src="https://spry-group.com/assets/images/blog/2017/2017-09-26-spotlight-developer-tools-python/python-logo.png" alt="">
        </div>
      </div>
      <!-- /.row -->
{% endblock %}